html {
  box-sizing: border-box;
  color: #271C1C;
  font: normal 20px/1.5 helvetica, arial, sans-serif;
  text-align: justify;
}

*, *:before, *:after {
  box-sizing: inherit;
}

form h2, h4, .input-button {
  text-transform: capitalize;
  text-align: center;
}

#home {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  background: white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  bottom: 0;
}

header {
  text-align: center;
  width: 100%;
}

main {position: relative;}

aside {
  width: 20%;
  padding: 10px 10px 10px 25px;;
  margin: 5px 0;
  border-right: 1px solid lightgray;
}

aside input {

  margin-right: 5px;
}


.toolbar {
  text-align: right;
  padding: 15px;
}

.no-cards {
  padding-top: 50px;
  /* left: 0; */
  /* right: 0; */
  /* position: absolute; */
  min-height: 230px;
  text-align: center;
  /* margin:  0 auto; */
}

.contacts {
  width: 80%;
  position: relative;
}


.rolodex {
  display: flex;
  flex-wrap: wrap;
}

.no-results {
  display: none;
  margin: 50px auto;
}

.card {
  border-radius: 5px;
  width: 200px;
  padding: .25rem;
  border: 1px solid grey;
  margin: 0.5rem;
  text-align: left;
  overflow-wrap: break-word;
}

.contact-form {
  background: white;
  border: 1px solid grey;
  display: none;
  height: 100%;
  bottom: 0;
  min-width: 350px;
  position: absolute;
  width: 100%;
  z-index: 42;
}



.contact-form div {
  margin: 0 auto;
  width: 80%
}

.contact-form label {
  display: inline-block;
  width: 25%;
  text-align: right;
}

form input[type="text"], input[type="tel"], input[type="email"] {
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: grey;
  font-size: 18px;
  height: 36px;
  margin: 0 0 8px 8px;
  padding: 3px 5px;
  width: 70%;
}

footer {
  padding: 5px;
  text-align: center;
}
